@model IEnumerable<MVC2._0.Models.Marca>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MARCA1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CODIGO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MARCA1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CODIGO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_marca }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_marca }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_marca })
        </td>
    </tr>
}

</table>
